                $blue: #00162b;
                $red: #d2003c;
                $aver: #fff;
                .container {
                    h1 {
                        font-size: 30px;
                        font-weight: 600;
                    }
                    .row {
                        .card {
                            background-color: rgba(233, 233, 233, 0.788);
                            height: 515px;
                            border-radius: 10px;
                            .imagenrb {
                                width: 100%;
                                border-radius: 10px 10px 0px 0px;
                            }
                            .card-title {
                                font-weight: 500;
                                margin: 0px 0px 25px 5px;
                                text-align: left;
                            }
                            .card-text {
                                font-weight: 500;
                                margin: 0px 0px 25px 5px;
                                text-align: left;
                            }
                            .btn {
                                position: absolute;
                                width: 50%;
                                margin: 10px 25%;
                                bottom: 0;
                                cursor: pointer;
                                background-color: $red;
                                border-radius: 5px;
                                transition: all ease-in-out .2;
                                &:hover {
                                    opacity: .5;
                                }
                            }
                        }
                    }
                    .waves-effect {
                        margin: 30px 40%;
                        cursor: pointer;
                        padding: 0 30px 0 30px;
                        background-color: rgba(146, 142, 142, 0.37);
                        border-radius: 5px;
                        transition: all ease-in-out .2;
                        border: 1px solid rgba(0, 0, 0, 0.281);
                        &:hover {
                            opacity: 1;
                            background-color: $red;
                        }
                    }
                }